@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Open+Sans&display=swap");

:root {
  --primary: #4d4d4d;
  --secondary: #ffcc00;
  --tertiary: #007acc;
  --text: #efefef;
}

body {
  background-color: var(--secondary);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  color: var(--text);
}

header {
  width: 100%;
  height: 150px;
  background-color: var(--primary);
  text-align: center;
  font-size: 36px;
}

header h1 {
  margin-bottom: 0;
}

.header-underline {
  width: 700px;
  height: 5px;
  background-color: var(--text);
  margin: 0 auto;
}

main {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.sidebar {
  margin-left: 50px;
  width: 500px;
}

img {
  width: 500px;
  margin-bottom: 30px;
}

.search {
  width: 480px;
  height: 150px;
  background-color: var(--primary);
  padding: 10px;
  font-size: 20px;
}

.search h2 {
  margin: 0;
  margin-bottom: 15px;
  text-decoration: underline;
  text-align: center;
}

.search input {
  width: 420px;
  height: 40px;
  padding: 5px;
  border: 2px solid var(--secondary);
  outline: none;
}

.search input:focus {
  border: 2px solid var(--tertiary);
}

.error {
  margin: 0;
  margin-left: 10px;
  height: 30px;
  font-size: 18px;
  color: #ff0000;
}

.search button {
  background-color: var(--tertiary);
  background-image: url(searchIcon.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
}

.search button:hover {
  background-color: #007aff;
  cursor: pointer;
}

.bulk-recipe-buttons {
  display: flex;
  flex-direction: column;
}

.bulk-recipe-buttons button {
  background-color: var(--primary);
  border: 2px solid #fff;
  margin: 0 auto;
  margin-top: 25px;
  width: 350px;
  height: 50px;
  font-size: 25px;
  color: var(--text);
  box-shadow: 5px 5px 10px 0 var(--primary);
}

.bulk-recipe-buttons button:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}

.result {
  width: 700px;
  height: 700px;
  margin-left: 70px;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  overflow-y: scroll;
}

.result h2 {
  font-size: 40px;
  margin: 20px 0 0 20px;
}

.result h3 {
  font-size: 30px;
  text-decoration: underline;
}

.result h4 {
  font-size: 20px;
}

.result h3,
.result h4 {
  color: var(--text);
  margin: 20px 0 0 30px;
}

.result h3:hover,
.result h4:hover {
  color: #c0c0c0;
  cursor: pointer;
}

svg {
  margin-right: 10px;
}

.rotated {
  transform: rotate(90deg);
}

.top-level-list {
  font-size: 20px;
  margin: 10px 0 0 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.recipes-div {
  overflow: hidden;
  max-height: 0;
}

.recipes-div-transition {
  transition: max-height 0.3s ease-out;
}

.productNames {
  width: 380px;
  height: 700px;
  margin-left: 70px;
  border: 3px solid var(--primary);
  background-color: var(--primary);
  overflow-y: scroll;
}

.productNames h3 {
  font-size: 20px;
  margin: 20px 0 0 20px;
  cursor: pointer;
}

.productNames h3:hover {
  color: #c0c0c0;
}
