@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Open+Sans&display=swap');

:root {
  --primary: #4d4d4d;
  --secondary: #ffcc00;
  --text: #efefef;
}

body {
  background-color: var(--secondary);
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--text);
}

header {
  width: 100%;
  height: 150px;
  background-color: var(--primary);
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
}

.container {
  width: 100%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

button {
  margin: 30px;
  background-color: var(--primary);
  border: 2px solid #fff;
  width: 300px;
  height: 50px;
  font-size: 25px;
  color: var(--text);
  box-shadow: 5px 5px 5px 0  var(--primary);
}

button:hover {
  cursor: pointer;
}

.content {
  margin: 0 auto;
  width: 60%;
  height: 70vh;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  overflow-y: scroll;
  font-size: 20px;
}

.list {
  margin-left: 30px;
  margin-top: 40px;
}